In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
print(data.head())

  whoAmI
0  human
1  robot
2  robot
3  robot
4  human

In [13]:
from sklearn.compose import ColumnTransformer
from category_encoders.one_hot import OneHotEncoder


t = ["OneHotEncoder", OneHotEncoder(), data.columns]
transformer = ColumnTransformer(transformers=[t])

transformed_data = transformer.fit_transform(data)
transformed_data

array([[1, 0],
       [0, 1],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [0, 1],
       [1, 0]])

In [18]:
from category_encoders.one_hot import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit_transform(data)

    whoAmI_1  whoAmI_2
0          1         0
1          0         1
2          0         1
3          0         1
4          1         0
5          0         1
6          0         1
7          1         0
8          0         1
9          1         0
10         1         0
11         0         1
12         1         0
13         0         1
14         1         0
15         0         1
16         1         0
17         1         0
18         0         1
19         1         0